  /* Fuentes */

  @font-face {
    font-family: 'graffiti_city'; 
    src: url('fonts/graffiticity.otf') format('opentype'); 
}
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Jost&family=Poppins:wght@300&display=swap');

h1 {
    font-family: 'Freckle Face', cursive;
}

p  {
    font-family: 'Poppins', sans-serif;
}

/**Menu**/

  .navbar {
    background: transparent;
    padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
    padding: 20px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white; 
    background-image: url('media/pintada.png');
    background-size: cover;
}

.navbar-brand {
    font-size: 30px;
    text-align: center;
    color: black !important;
    font-family:'graffiti_city', sans-serif;;
}


/* Banner */
.banner {
    background-image: url('media/portada.jpg'); /* Ruta de la imagen del banner */
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    text-align: left;
    padding: 100px; /* Espacio alrededor del texto */
    color: white; /* Color del texto */
}

.banner h1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.saber-mas {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-weight: bold;
    position: relative;
}

.saber-mas::after {
    content: "";
    background-image: url('media/pintada.png'); /* Ruta de la imagen de fondo del texto */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen de fondo detrás del texto */
}